<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('../../partials/head.ejs') %>

</head>

<body>
    <%- include('../../partials/navbar.ejs') %>

        <div class="container">
            <hr>
            <h2>Categorias</h2>
            <a class="btn btn-success" href="/admin/categories/new">Criar nova Categoria</a>
            <hr>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>slug</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <% categories.forEach(category=> { %>
                            <tr>
                                <th><%=category.id%></th>
                                <th><%=category.title%></th>
                                <th><%=category.slug%></th>
                                <th>
                                    <a href="/admin/categories/edit/<%= category.id %>" class="btn btn-warning">Editar</a>
                                    <form method="POST" action="/categories/delete" style="display: inline" onsubmit="confirmDelete(event, this)">
                                        <input type="hidden" name="id" value="<%= category.id%>">
                                        <button class="btn btn-danger">Deletar</button>
                                    </form>
                                </th>
                            </tr>    
                            <% }) %>
                    </tr>
                </tbody>
            </table>
        </div>


        <script>
            function confirmDelete(event, form){
                event.preventDefault()
               const desicion = confirm('Deseja realmente excluir esse Registro?')
                if(desicion){
                    form.submit()
                }    
            }
        </script>
        <%- include('../../partials/foot.ejs') %>
</body>

</html>